#homepage {
  margin: 20%;
}

#footer {
  float: left;
  padding-left: 45%;
  text-align: center;
  width: 100%;
}

a:hover {
  text-decoration: none !important;
}

.btn-space {
  margin-left: 10px;
  margin-bottom: 5px;
}

.nav-link {
  margin-left: a;
}
